@font-face
    font-family: "IRANSans"
    font-weight: 100
    src: url("./assets/fonts/IRANSansWeb_Light.woff") format("woff")

@font-face
    font-family: "IRANSans"
    font-weight: 200
    src: url("./assets/fonts/IRANSansWeb_Medium.woff") format("woff")

@font-face
    font-family: "IRANSans"
    font-weight: normal
    src: url("./assets/fonts/IRANSansWeb.woff") format("woff")

@font-face
    font-family: "IRANSans"
    font-weight: bold
    src: url("./assets/fonts/IRANSansWeb_Bold.woff") format("woff")