@import "font"

*
    font-family: 'IRANSans', serif

::selection
    background: black
    color: white

body
    margin: 0
    padding: 0
    overflow-x: hidden

    header
        position: relative
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none

        h1
            position: absolute
            top: 55%
            left: 50%
            margin: 0
            transform: translateX(-50%) translateY(-50%)
            background: rgba(0, 0, 0, 7)
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0))
            color: white
            text-shadow: 0 0 5px white
            box-shadow: 0 -19px 21px -25px #f5f5f5, 0 19px 21px -25px #f5f5f5
            font-weight: 100
            font-size: 35px
            padding: 10px 100px
            white-space: nowrap
            text-transform: uppercase
            letter-spacing: 10px
            font-family: "Segoe UI", Arial, sans-serif

        canvas
            background: linear-gradient(#fff, #666)

    nav
        position: relative
        margin-top: -4px
        box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.4)
        background: #2b2b2b
        background: linear-gradient(90deg, #555, #2b2b2b, #2b2b2b, #555)
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none

        .select-highlight
            position: absolute
            z-index: 1
            top: 0
            left: 0
            width: 25%
            height: 100%
            background: #444
            opacity: 0
            transition-duration: 0.3s
            background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0))

        &:hover .select-highlight
            opacity: 1

        ul
            margin: 0
            padding: 0
            z-index: 2
            position: relative
            display: flex
            flex-direction: row-reverse
            list-style-type: none

            li
                flex-basis: 100%
                text-align: center
                font-size: 16px
                padding: 16px
                color: #DDD
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4)
                cursor: pointer
                transition-duration: 0.3s
                font-weight: 600

                &:active
                    transform: scale(0.95)
                    opacity: 0.6

    main
        background: linear-gradient(#FFF, #EEE, #FFF)
        padding: 70px 0

        section
            direction: rtl
            width: 900px
            margin: auto
            height: 520px
            padding: 80px 0

            & > img
                float: left
                width: 305px

            article
                font-weight: 100
                font-size: 15px
                position: relative
                top: 50px

                h2
                    background: #333
                    display: inline-block
                    padding: 2px 5px
                    color: white
                    font-weight: 600
                    font-size: 34px
                    margin-bottom: 10px

                p
                    line-height: 27px

            &[data-title='portfolio']

                & > img
                    margin-top: 80px
                    margin-right: 15px
                    cursor: zoom-in
                    transition-duration: 0.3s
                    z-index: 99

                    &:hover
                        opacity: 0.8
                        transform: scale(1.1)

            &[data-title='gallery']

                .gallery
                    background: red
                    margin-top: 20px
                    overflow: hidden
                    position: relative

                    img
                        height: 200px

                    .container
                        flex-wrap: nowrap
                        display: flex
                        flex-direction: row

                    .left-button, .right-button
                        width: 50px
                        height: 100px
                        background: rgba(0, 0, 0, 0.6)
                        position: absolute
                        top: 50%
                        transform: translateY(-50%)

                        i
                            position: absolute
                            background: white
                            width: 5px
                            height: 30px
                            top: 50%
                            left: 18px
                            transform: scale(0.7) rotate(45deg) translate(-50%, -50%)

                            &:before
                                content: ' '
                                position: absolute
                                background: white
                                width: 6px
                                height: 30px
                                transform: rotate(90deg) translate(-12px, 12px)

                    .left-button
                        left: 0

                        i
                            top: 39%
                            left: 16px
                            transform: scale(0.7) rotate(45deg) translate(-50%, -50%) rotateZ(180deg)

                    .right-button
                        right: 0